.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 16vh;
  position: relative;
}

.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 10px 20px 10px;
  color: #585858;
}

.nav p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav p img {
  display: none !important;
  all: initial;
  width: 22px !important;
  margin-right: 10px;
  cursor: pointer;
} */

.main .nav img {
  width: 40px;
  border-radius: 50%;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

.main .great {
  margin: 18px 0 3.52px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.main p span {
  background: -webkit-linear-gradient(16deg, #4690ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 15px;
  padding: 20px;
}

.cards .card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .card p {
  color: #484848;
  font-size: 17px;
}

.main .card:hover {
  background-color: #dfe4ea;
}

.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 23px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 17px;
}

.main .bottom-info {
  font-size: 12px;
  margin: 12px auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 300;
}

.bottom-info a {
  color: black;
  font-size: 14px;
}

.result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result .result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.result img {
  width: 40px;
  border-radius: 50%;
}

.result .rotate {
  animation: rotate 1s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    transform: scale(1);
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(130deg);
    transform: scale(1.43);
  }
}

.result-data {
  display: flex;
  align-items: start;
  gap: 10px;
}

.result-data p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

code {
  font-size: 20px;
  font-weight: 700;
}

.gemini-response h2 {
  margin-top: 0;
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

pre {
  padding: 1rem 1.5rem 0.5rem;
  background-color: black;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.send_img {
  animation: fadin 0.6s ease-in;
}

@media (max-width: 600px) {
  .main-bottom img {
    width: 20px;
  }
  .search-box {
    padding: 10px 14px;
  }

  .search-box div {
    gap: 13px;
  }

  .result {
    padding: 0px 3%;
  }

  .nav p img{
    display: flex !important;
  }
  .nav{
    padding-left: 3.3rem !important;
  }
}

html {
  max-height: 100vh;
}
